In [1]:
import pyzbar.pyzbar as pyzbar
import numpy as np
import cv2

import pandas as pd
from pprint import pprint

In [3]:
df = pd.read_csv('tastes.csv')

In [2]:
def decode_to_int(path):
    # Find barcodes and QR codes
    im = cv2.imread(path)
    decodedObjects = pyzbar.decode(im)
    barcode = int(decodedObjects[0][0])
    # print(barcode)

    return barcode

In [4]:
df.head()

       brand        taste        barcode
0  must_have      pinkman  4605648018729
1  must_have  apple_drops  4605648000000

In [9]:

arcode_int = decode_to_int(path='IMG_9077.jpg')
barcode_int

4605648018729

In [8]:
result = df.loc[df.barcode == barcode_int, ['brand', 'taste']]
result

       brand    taste
0  must_have  pinkman

In [10]:
' - '.join(result.values[0])

'must_have - pinkman'

In [11]:
print(result.to_json())

{"brand":{"0":"must_have"},"taste":{"0":"pinkman"}}

In [12]:
result.to_dict()

{'brand': {0: 'must_have'}, 'taste': {0: 'pinkman'}}

In [15]:
# print(result.to_html())

---

In [16]:
arcode_int = decode_to_int(path='tabak-dlya-kalyana-must-have-pinkman-1-2.jpg')
barcode_int

result = df.loc[df.barcode == barcode_int, ['brand', 'taste']]
result

       brand    taste
0  must_have  pinkman

In [17]:
df

       brand        taste        barcode
0  must_have      pinkman  4605648018729
1  must_have  apple_drops  4605648000000